html, body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.joinOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  
  background-color: #404040;
}

.joinInnerContainer {
  width: 40%;
  
  z-index:1;
}


.joinInput {
  border-radius: 0;
  padding: 15px 20px;
  width: 100%;
  border:8px solid #808080;
  color:black;
}

.heading {
  color: #505050;
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid #808080;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.foot{
  color:white;
  /*font-size: 2.5em;*/
  text-align:center;
  /*border-bottom: 2px solid #808080;*/

}







@keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}
@-webkit-keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@-moz-keyframes move-background {    
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

    @-webkit-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

.background-container{
	position: fixed;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
}

.stars {
 background: whitesmoke url(pho.jfif) no-repeat center fixed;
 background-size:cover;
 position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
  	z-index: 0;
}

.twinkling{
	width:10000px;
	height: 100%;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    
    -moz-animation:move-background 70s linear infinite;
  -ms-animation:move-background 70s linear infinite;
  -o-animation:move-background 70s linear infinite;
  -webkit-animation:move-background 70s linear infinite;
  animation:move-background 70s linear infinite;
	
}

.clouds{
	width:10000px;
	height: 100%;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;

   -moz-animation:move-background 150s linear infinite;
  -ms-animation:move-background 150s linear infinite;
  -o-animation:move-background 150s linear infinite;
  -webkit-animation:move-background 150s linear infinite;
  animation:move-background 150s linear infinite;
}
img{
  height: 70vh;
  width:70vh;
  position: absolute;
  z-index: 3;
  right: 20px;
}


.button1 {
    color: #fff !important;
    /*text-transform: uppercase;*/
    text-decoration: none;
    background: #808080;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 100%;
}
.button2{
  color: #fff !important;
  text-decoration: none;
    background: transparent;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 100%;

}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 220px) and (max-width: 1080px) {
  .joinOuterContainer {
    height: 100%;
  }

  .joinInnerContainer {
    width: 90%;
    z-index:1;
  }


}



button:focus {
  outline: 0;
}

.content{
  margin-left:auto;
  text-align:left;
  color:#404040;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.deslist{
  list-style-type:none;
}

.desspan{
  text-shadow:none;
}

